.myfont{
    font-family: 'Courier New', Courier, monospace;
}
.mysubfont{
    font-family: Arial, Helvetica, sans-serif;
    color: black !important;
}
.myimg{
    width: 50%;
}
.myitalics{
    font-style: italic;
}
.table{
    margin-left: auto;

}
.reshead{
        font-family: 'Libre Barcode 39 Text';
        font-size: 35pt;
}
.paragraph{
    text-align: right;
    margin-left: 35pt;
}
ul{
    columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.introbox{
    font-family: 'Libre Barcode 39 Text';
    font-size: 20pt !important;
}
.navi{
    font-family: 'Libre Barcode 39 Text';
    font-size: 20pt !important;
}